@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&family=Poppins:ital,wght@1,100&display=swap');

body{
    font-family: 'Montserrat', 
    sans-serif;
}


.container{
    padding-left: 1rem;
    padding-right:1 rem;

}

.container-center{
    max-width:600px;
    margin: auto;
}

